/* CSS */

button {
  cursor: pointer;
}

.button_jumbotron,
.button_card_header {
  background-color: #f9a826;
}

.button_jumbotron {
  margin-top: 2em;
}

.button_card_header_clear,
.yes_clear,
.yes_remove_book,
.submit_add_book {
  background-color: #f50057;
}

.button_card_header_clear:before,
.yes_clear:before,
.yes_remove_book:before,
.submit_add_book:before {
  background-color: #f9a826;
}

.button_jumbotron,
.button_card_header,
.button_card_header_clear,
.yes_clear,
.yes_remove_book,
.submit_add_book {
  width: 200px;
  border-radius: 0.4em;
  border-width: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1em;
  opacity: 1;
  outline: 0;
  padding: 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button_jumbotron:before,
.button_card_header:before {
  background-color: #f50057;
}

.button_jumbotron:before,
.button_card_header:before,
.button_card_header_clear:before,
.yes_clear:before,
.yes_remove_book:before,
.submit_add_book:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button_jumbotron:hover:before,
.button_card_header:hover:before,
.button_card_header_clear:hover:before,
.yes_clear:hover:before,
.yes_remove_book:hover:before,
.submit_add_book:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button_jumbotron:after,
.button_card_header:after,
.button_card_header_clear:after,
.yes_clear:after,
.yes_remove_book:after,
.submit_add_book:after {
  background-color: #ffffff;
}

.button_jumbotron span,
.button_card_header span,
.button_card_header_clear span,
.yes_clear span,
.yes_remove_book span,
.submit_add_book span {
  z-index: 1;
  position: relative;
}

.yes_clear,
.yes_remove_book {
  align-items: center;
  padding: 0.8em;
  width: 100px;
}

#btn_search {
  width: 3.5em;
  height: 3.5em;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: #f9a826;
  color: white;
  transition: transform 0.2s;
}

#btn_search:hover {
  transform: scale(1.1);
}
