commodity-item {
  background-color: rgb(255, 255, 255);
  width: 30%;
  display: flex;
  gap: 2em;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 26px -10px;
  margin-bottom: 1em;
  padding: 1em;
  border-top: 2px solid #f9a826;
}

hr {
  background-color: #231e8f;
  margin: 0em;
  padding: 0em;
}

.commodity_name {
  font-weight: 600;
  font-size: 1em;
}

.card_commodity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commodity_details {
  display: flex;
  justify-content: space-between;
}

.commodity_image {
  padding: 1em;
  height: 100px;
  width: 100px;
  object-fit: contain;
  background-color: #da0000a8;
  border-radius: 50%;
}

.commodity_province {
  text-align: end;
}

.btn_done:hover {
  color: white;
  background-color: green;
}
/* Small screen */
@media only screen and (max-width: 640px) {
  commodity-item {
    flex-direction: column;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }

  .commodity_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .commodity_name,
  .commodity_price {
    text-align: center;
  }
}

/* Medium screen */
@media only screen and (max-width: 1024px) and (min-width: 641px) {
  commodity-item {
    flex-direction: column;
    width: 29%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }

  .commodity_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .commodity_name,
  .commodity_price {
    text-align: center;
  }
}
