/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  overflow-y: hidden;
}

/* Modal Content/Box */
.modal_content {
  background-color: #fefefe;
  padding: 20px;
  display: block;
  margin: 5% auto;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal_header span.close {
  color: #aaa;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal_header {
  display: flex;
  justify-content: space-between;
  border: 0;
}

.modal_header span {
  font-size: 1em;
  text-align: start;
  font-weight: 700;
}

/* Modal Body */
.modal_body {
  padding: 1em;
  margin-top: 1em;
}

.modal_body img {
  width: 200px;
}

.modal_footer {
  border: 0;
  margin-bottom: 0.5em;
  margin-top: 1em;

  text-align: center;
  padding: 2px 16px;
}

.modal_content {
  position: relative;
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#modal_validation .modal_content,
#modal_delete_book .modal_content {
  width: 30%;
}

.modal_body_text {
  font-weight: 500;
  margin-top: 2em;
}

@media only screen and (max-width: 640px) {
  #modal_validation .modal_content,
  #modal_delete_book .modal_content,
  #modal_form .modal_content {
    width: 90%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 641px) {
  #modal_validation .modal_content,
  #modal_delete_book .modal_content,
  #modal_form .modal_content {
    width: 60%;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
