* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  color: #2d232e;
}

body,
input,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 40px;
}
h5 {
  font-size: 20px;
}

main {
  width: 100%;
}

#jumbotron_section {
  display: flex;
  width: 100%;
  margin: 2em 0 0 0;
  padding: 0;
}

.text_jumbotron_section {
  color: #da0000;
  width: 50%;
  margin-top: 10em;
  margin-left: 10em;
}

.image_cart {
  display: block;
  margin: auto;
  width: 80%;
}

.error-fetch-data img {
  height: 400px;
  width: 400px;
}

.error-caption,
.error-title {
  color: #da0000;
  font-weight: 700;
}

.error-title {
  font-size: 2em;
}

.highest-price-commodities {
  margin: 0 10vw 2em;
}

#content {
  display: flex;
  gap: 1em;
  text-align: center;
  height: 100%;
  justify-content: space-around;
}

#last-updated {
  margin-top: 1em;
}

.image_cart img {
  z-index: 2;
  display: block;
}

#search_section {
  margin: 0 0 5em 0;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2em;
}

.search_input {
  width: 20em;
  border: none;
}

.search_input:focus {
  border-bottom: 1px solid #da0000;
}

#footer {
  text-align: center;
  margin-top: 3em;
  padding: 0.5em;
  background-color: #da0000;
  color: white;
}
/* For small screen */
@media only screen and (max-width: 640px) {
  #jumbotron_section {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
  }

  .text_jumbotron_section {
    text-align: center;
    color: #da0000;
    width: 100%;
    margin: 0;
  }

  .text_jumbotron_section h1 {
    margin-top: 0.5em;
  }
  .image_cart svg,
  .error-fetch-data img {
    width: 100%;
    margin: 0;
  }
  .error-title {
    margin-top: 1em;
  }

  .highest-price-commodities {
    margin: 3em 10vw;
  }

  #content {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
  }

  #search_section {
    margin-top: 4em;
    margin-bottom: -2em;
  }
}

/* For medium screen */
@media only screen and (max-width: 1024px) and (min-width: 641px) {
  #jumbotron_section {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
  }

  .text_jumbotron_section {
    text-align: center;
    color: #da0000;
    width: 100%;
    margin: 4em 0 0 0;
  }
  .image_cart svg,
  .error-fetch-data img {
    width: 100%;
    margin: 0;
  }

  #content {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
  }

  .highest-price-commodities {
    margin: 2em 10vw;
  }

  #search_section {
    margin-top: 4em;
    margin-bottom: -2em;
  }
}
